.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.li{
  display: flex;
  font-size: 14px
}